// Import your custom theme
@import '../../theme.scss';

// Vars
$chart-item-content-height: 150px;
$chart-item-logo-width: 80px;

.chart-item {

  &-logo {
    max-height: 80%;
  }

  &-info {

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 1.2em;
      cursor: pointer;
      margin-bottom: 4px;

      a {
        color: inherit;
      }
    }

    p {
      margin: 0;
    }

    // Remove this when chips are ready:
    // https://github.com/angular/material2/issues/120
    &__repo {
      color: mat-color($monocular-app-primary, 600);
      padding: 2px 4px;
      border-radius: 4px;
      margin-right: -5px;

      &.repo-incubator {
        color: mat-color($monocular-app-warn, 600);
      }

      &:hover {
        background: $background-white;
      }

      a {
        color: inherit;
      }
    }

    &__sep {
      color: mat-color($monocular-app-primary, 600);
      margin-right: -5px;
      margin-left: -4px;

      &.sep-incubator {
        color: mat-color($monocular-app-warn, 600);
      }
    }

    &__description {
      margin: 1em;
    }
  }

}
