// Import your custom theme
@import '../../theme.scss';

// Vars
$chart-item-content-height: 150px;
$chart-item-logo-width: 80px;

.chart-item {

  &-logo {
    max-height: 80%;
  }

  &-info {

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 1.2em;
      cursor: pointer;
      margin-bottom: 4px;

      a {
        color: inherit;
      }
    }

    p {
      margin: 0;
    }

    // Remove this when chips are ready:
    // https://github.com/angular/material2/issues/120
    &__repo {
      color: lighten($layout-base, 10%);
      padding: 2px 1px 2px 0px;
      border-radius: 4px;

      &:hover {
        background: $background-white;
      }

      &__namespace {
        margin-right: -4px;
        color: mat-color($monocular-app-primary, 600);

        &.repo-incubator {
          color: mat-color($monocular-app-warn, 600);
        }

        &::after {
          margin-left: -4px;
          content: "/";
        }
      }

      a {
        color: inherit;
      }
    }

    &__description {
      margin: 1em;
    }
  }

}
