/* Because of fixed header bar */
body {
  // Use system font-families now
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
               'Segoe UI', 'lucida grande', 'helvetica neue', helvetica,
               'Fira Sans', roboto, noto, 'Droid Sans', cantarell, oxygen,
               ubuntu, 'franklin gothic medium', 'century gothic',
               'Liberation Sans', sans-serif;
  // reset
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
