// Imports
@import './theme.scss';

body {
  // Use system font-families now
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir,
               'Segoe UI', 'lucida grande', 'helvetica neue', helvetica,
               'Fira Sans', roboto, noto, 'Droid Sans', cantarell, oxygen,
               ubuntu, 'franklin gothic medium', 'century gothic',
               'Liberation Sans', sans-serif;
  // reset
  margin: 0;
  padding: 0;
  color: $layout_text;
}

* {
  box-sizing: border-box;
}

// Text
h1, h2, h3, h4, h5, h6 {
  color: lighten($layout_base, 10%);
}

// Anchors
a {
  text-decoration: none;
  transition: color .3s ease-out;
  color: md-color($monocular-app-primary);
  cursor: pointer;

  &:hover {
    color: darken(md-color($monocular-app-primary), 10%);
  }

  &.reverse {
    color: $layout_light;

    &:hover {
      color: lighten(md-color($monocular-app-primary), 10%);
    }

    &.active {
      color: md-color($monocular-app-primary);
    }
  }
}

// Animations

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

// Main loader
.main-loader {
  height: 100vh;
  background-color: $layout_base;
  animation: fadein .3s;

  p {
    text-align: center;
    font-size: 3em;
    margin: 0;
    color: $layout_light;
    padding-top: 2em;
  }
}
