// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../theme.scss';

// Vars
$chart-item-content-height: 70px;

:host {
  display: block;
  width: 100%;
  margin-bottom: 1em;

  @include mappy-bp(medium) {
    width: 48%;
    margin-bottom: 2%;
  }

  @include mappy-bp(large) {
    width: 32%;
  }

  @include mappy-bp(xlarge) {
    width: 23.5%;
  }

  .chart-item {
    min-height: 11em;
    padding: 1em;
    background-color: white;
    border: 1px solid darken($layout_light, 10%);

    &-content {
      height: $chart-item-content-height;
      position: relative;
      margin-bottom: 1em;

      img {
        position: absolute;
        width: $chart-item-content-height;
      }
    }

    &-info {
      margin-left: $chart-item-content-height + 16px;
      padding-top: .3em;

      &__title {
        color: md-color($monocular-app-primary);
        margin: 0 0 .5em;
        cursor: pointer;
      }

      p {
        margin-top: 0;
      }

      // Remove this when chips are ready:
      // https://github.com/angular/material2/issues/120
      &__repo {
        color: white;
        padding: 2px 5px;
        border: 1px solid darken(md-color($monocular-app-accent), 10%);
        background-color: md-color($monocular-app-accent);
        border-radius: 5px;
        font-size: .8em;
        position: relative;
        top: -1px;
      }

      &__version {
        color: lighten($layout_text, 20%);
        margin-left: 5px;
        padding-left: 7px;
        border-left: 1px solid darken($layout_light, 10%);
      }
    }

    &-description {
      display: table;

      &__text {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}
