@import '../../theme.scss';

.charts {
  max-width: 1000px;
  margin: auto;

  &__header {
    &__title {
      margin-top: 0;
    }
  }

  &__gallery {
    width: 100%;
    display: flex;
    flex-direction: row;

    &__sidebar {
      width: 175px;
      border-right: 1px solid #D7D9DD;
      .sidebar_section {
        margin-bottom: 40px;
        &_title {
          margin-bottom: 10px;
        }
        &_link {
          cursor: pointer;
          font-size: 1.1em;
          margin-bottom: 0.3em;
          opacity: 0.5;
          &.active {
            opacity: 1;
            color: md-color($monocular-app-primary);
          }
        }
      }
    }
    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      app-chart-list {
        flex: 1;
        display: flex;
        padding-left: 1em;
      }
      &__topbar {
        display: flex;
        height: 40px;
        border-bottom: 1px solid #D7D9DD;
        align-items: center;
        padding-left: 10px;
        input {
          width: 100%;
          height: 100%;
          border: 0;
          font-size: 18px;
          background: none;
          outline: none;
          margin-left: 5px;
        }
      }
    }
  }
}
