@import '../../theme.scss';

$filters-width: 175px;

.charts {
  max-width: $layout-max-width;
  margin: auto;

  &__header {

    &__title {
      margin-top: 0;
    }
  }

  &__gallery {
    width: 100%;
    display: flex;
    flex-direction: row;

    app-list-filters {
      width: $filters-width;
      display: flex;
    }

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;

      app-chart-list {
        flex: 1;
        display: flex;
        padding-left: 1em;
      }

      &__topbar {
        display: flex;
        height: 40px;
        border-bottom: 1px solid $border-color;
        align-items: center;
        padding-left: 10px;

        * {
          fill: lighten($layout-base, 50%);
        }

        input {
          width: 100%;
          height: 100%;
          border: 0;
          font-size: 1.1em;
          background: none;
          outline: none;
          margin-left: 5px;
          color: $layout-base;
          @include placeholder {
            color: lighten($layout-base, 50%);
          }
        }
      }
    }
  }
}
