@import '../../theme.scss';

.charts {
  max-width: $layout-max-width;
  margin: auto;

  &__header {

    &__title {
      margin-top: 0;
    }
  }

  &__gallery {
    width: 100%;
    display: flex;
    flex-direction: row;

    &__sidebar {
      width: 175px;
      border-right: 1px solid $border-color;

      .sidebar_section {
        margin-bottom: 40px;

        &_title {
          margin-bottom: 10px;
        }

        &_link {
          cursor: pointer;
          font-size: 1.1em;
          margin-bottom: 0.3em;
          opacity: 0.5;
          &.active {
            opacity: 1;
            color: md-color($monocular-app-primary);
          }
        }
      }
    }

    &__content {
      flex: 1;
      display: flex;
      flex-direction: column;

      app-chart-list {
        flex: 1;
        display: flex;
        padding-left: 1em;
      }

      &__topbar {
        display: flex;
        height: 40px;
        border-bottom: 1px solid $border-color;
        align-items: center;
        padding-left: 10px;

        * {
          fill: rgba(black, 0.5);
        }

        input {
          width: 100%;
          height: 100%;
          border: 0;
          font-size: 1.1em;
          background: none;
          outline: none;
          margin-left: 5px;

          @include placeholder {
            color: rgba(black, 0.5);
          }
        }
      }
    }
  }
}
