<app-header-bar></app-header-bar>
<app-loader [loading]="loading">
  <app-panel>
    <section class="charts">
      <header class="charts__header">
        <div class="charts__header__block">
          <h1 class="charts__header__title">Charts</h1>
        </div>
      </header>
      <div class="charts__gallery">
        <div class="charts__gallery__sidebar">
          <div class="sidebar_section">
              <h3 class="sidebar_section_title">Repository</h3>
              <div class="sidebar_section_link" *ngFor="let repo of repositories" [class.active]="repo.id == selectedRepository.id" (click)='goToRepo(repo.id)'>
                {{ repo.attributes.name }}
              </div>
          </div>
          <div class="sidebar_section">
              <h3 class="sidebar_section_title">Order By</h3>
              <div class="sidebar_section_link" *ngFor="let order of orders" [class.active]="order.value == orderBy" (click)='changeOrderBy(order.value)'>
                {{ order.name }}
              </div>
          </div>
        </div>
        <div class="charts__gallery__content">
          <div class="charts__gallery__content__topbar">
            <md-icon svgIcon="search"></md-icon>
            <input type="text" placeholder="Search charts..." value="{{searchTerm}}" (keyup)="searchChange($event)" />
          </div>
          <app-chart-list [charts]="orderedCharts"></app-chart-list>
        </div>
      </div>
    </section>
  </app-panel>
</app-loader>
