# Use older version of Trusty VM due to issues in the updated one
group: deprecated-2017Q2
filter_secrets: false
language: node_js
node_js:
  - '8.1.4'
cache:
  yarn: true
  directories:
    - src/api/vendor
    - src/ui/node_modules
services:
  - docker
  - redis-server
# UI dependencies
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - make -C src/api bootstrap
  - make -C src/ui install
  - make -C src/ui VERSION=$TRAVIS_TAG set-version
script:
  - make -C src/api test test-cover docker-build
  - make -C src/ui docker-build # Tests disabled for now
after_success:
  - |
    if [[ "$TRAVIS_PULL_REQUEST" == false ]]; then
      if [[ -n "$TRAVIS_TAG" ]]; then
        docker tag bitnami/monocular-api:latest bitnami/monocular-api:$TRAVIS_TAG
        docker tag bitnami/monocular-ui:latest bitnami/monocular-ui:$TRAVIS_TAG
      fi
      docker login -u="$DOCKER_USER" -p="$DOCKER_PASSWORD"
      docker push bitnami/monocular-api
      docker push bitnami/monocular-ui

      ./scripts/repo-sync.sh
    fi
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master
    # release tags
    - /^v\d+\.\d+\.\d+.*/
