<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> {{ chart.attributes.name | uppercase }}
 </h3>
  </div>
  <div class="panel-body">
    <div class="col-sm-3 thumbnail"><img src='assets/images/k8s-icon.png'/></div>
    <div class='col-sm-9'>
      <p>{{chart.attributes.description}}</p>
      <ul>
        <li>Repository: {{ chart.attributes.repo }}</li>
        <li>Latest version: {{ this.latestVersion }}</li>
        <li><a [href]="chart.attributes.home" target='_blank'>{{ chart.attributes.home }}</a></li>
      </ul>
    </div>
  </div>
</div>
