// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

// Variables
$main-header-height: 400px;

.main-header {
  height: $main-header-height;
  //background-color: $layout_base;
  background: linear-gradient(to left, $layout_base, md-color($monocular-app-primary, 900));
  border-bottom: 3px solid black;

  &-content {
    width: 80%;
    margin: 1em auto 0;

    @include mappy-bp(medium) {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 47%;
      }
    }

    &__slogan {
      color: $layout_light;
      padding: 2em 0 1em;
      font-weight: 100;

      p {
        font-size: 2em;
        margin: 0;

        @include mappy-bp(medium) {
          font-size: 2.5em;
        }

        @include mappy-bp(large) {
          font-size: 3em;
        }
      }
    }

  }

  &-search {
    @include mappy-bp(medium) {
      padding-top: 4em;
    }

    md-input {
      margin: 0 auto 5px;
    }

    &__summary {
      font-size: .9em;
      font-style: italic;
      margin: 0;
      text-align: center;
      color: lighten(md-color($monocular-app-primary), 10%);
    }
  }
}
