<section class="main-header">
  <app-header-bar [showSearch]="false" [transparent]=true></app-header-bar>
  <div class="main-header-content">
    <div class="main-header-content__slogan">
      <p>
        Discover & launch great Kubernetes-<wbr>ready apps
      </p>
    </div>
    <div class="main-header-search">
      <form (ngSubmit)="searchCharts(searchBox)">
        <md-input-container class="md-input--reverse md-input--full md-input--big">
          <input mdInput placeholder="Search..." floatingPlaceholder="false" #searchBox />
        </md-input-container>
      </form>
      <p class="main-header-search__summary" *ngIf="totalChartsNumber">
        <b>{{ totalChartsNumber }}</b> charts ready to deploy
      </p>
    </div>
  </div>
</section>
