<div class="chartInfo">
  <div class="chartInfo__chart">
    <app-chart-item [chart]=chart [showVersion]=false [showDescription]=true>
    </app-chart-item>
  </div>

  <app-chart-details-usage [chart]=chart [currentVersion]=currentVersion></app-chart-details-usage>

  <app-panel [border]=true>
    <div class="chartInfo__versions">
      <app-chart-details-versions [versions]=versions [currentVersion]=currentVersion></app-chart-details-versions>
    </div>
    <div class="chartInfo__maintainers">
      <h1>Maintainers</h1>
      <div *ngFor="let maintainer of chart.attributes.maintainers">
        <a href="mailto:{{ maintainer.email }}">{{ maintainer.name }}</a>
      </div>
    </div>
    <div class="chartInfo__sources" *ngIf="sources.length">
      <h1>Sources</h1>
      <div *ngFor="let source of sources">
        <a href="{{ source }}">{{ source }}</a>
      </div>
    </div>
  </app-panel>
</div>
