<div class="chartInfo">
  <div class="chartInfo__chart">
    <app-panel [background]=true>
      <app-chart-item [chart]=chart [showVersion]=false [showDescription]=true>
      </app-chart-item>
    </app-panel>
  </div>
  <div class="chartInfo__maintainers">
    <app-panel [title]="'Maintainers'" [background]=true>
      <div *ngFor="let maintainer of chart.attributes.maintainers">
        <a href="mailto:{{ maintainer.email }}">{{ maintainer.name }}</a>
      </div>
    </app-panel>
  </div>
  <div class="chartInfo__versions">
    <app-chart-details-versions [versions]=versions [currentVersion]=currentVersion></app-chart-details-versions>
  </div>
  <div class="chartInfo__sources">
    <app-panel [title]="'Sources'" [background]=true>
      <div *ngFor="let source of sources">
        <a href="{{ source }}">{{ source }}</a>
      </div>
    </app-panel>
  </div>
</div>
