@import '../../theme.scss';
$filters-width: 175px;

.repositories {
  &__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__title {
      margin-top: 0;
    }

    &__filters {
      display: none;
      font-size: 0.5em;

      md-icon {
        margin-left: 10px;
        top: 6px;
        position: relative;
      }
    }

    &__new {
      margin-left: 1em;
      margin-bottom: 1em;
      text-align: center;
    }

  }

  // CSS from https://codepen.io/AllThingsSmitty/pen/MyqmdM
  table {
    border: 1px solid $layout-light;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    tr {
      background: $background-light;
      border: 1px solid $layout-light;
      padding: .35em;
    }
    
    th,
    td {
      padding: .625em;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    
    th {
      font-size: .85em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      
      tr {
        border-bottom: 3px solid $layout-light;
        display: block;
        margin-bottom: .625em;
      }
      
      td {
        border-bottom: 1px solid $layout-light;
        display: block;
        font-size: .8em;
        text-align: right;

        &:before {
          /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
