version: '2'

services:
  myapp:
    tty: true # Enables debugging capabilities when attached to this container.
    image: bitnami/angular:2.0.0
    ports:
      - 4200:4200
      - 49152:49152
    volumes:
      - .:/app
    command: "ng serve -h 0.0.0.0"
