// Import your custom theme
@import '../../theme.scss';

// Vars
$chart-item-content-height: 80px;

.chart-item {
  border: 1px solid #eaeaea;
  border-radius: $border-radius;

  &-content {
    text-align: center;
  }

  &-logo {
    height: $chart-item-content-height + (16 * 2);
    // We use this 1.5 to center images correctly
    line-height: $chart-item-content-height + (16 * 1.5);
    text-align: center;
    // If all the logos are transparent, we can enable this property
    // background-color: $layout_light;
    border-radius: $border-radius $border-radius 0 0;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, .04);
    border-bottom: 1px solid darken($layout_light, 5);

    img {
      max-height: $chart-item-content-height;
      vertical-align: middle;
    }
  }

  &-info {
    margin: 1em 0;

    &__title {
      color: mat-color($monocular-app-primary);
      margin: 0 0 .5em;
      font-weight: 300;
      cursor: pointer;
    }

    p {
      margin: 0;
    }

    // Remove this when chips are ready:
    // https://github.com/angular/material2/issues/120
    &__repo {
      color: mat-color($monocular-app-accent);
      font-size: .8em;
      position: relative;
      top: -1px;

      &.repo-incubator {
        color: mat-color($monocular-app-warn, 600);
      }

      a {
        color: inherit;
      }
    }

    &__version {
      color: lighten($layout_text, 20%);
      margin-right: 5px;
      padding-right: 7px;
      border-right: 1px solid darken($layout_light, 5);
    }
  }

  &-description {
    margin: 1em;
  }
}
