// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

// Vars
$chart-item-content-height: 70px;

.chart-item {
  // Useful to display the elements as a grid
  &.chart-item--fixHeight {
    min-height: 9em;
  }

  &-content {
    height: $chart-item-content-height;
    position: relative;
    margin-bottom: 1em;
  }

  &-logo {
    position: absolute;
    max-width: $chart-item-content-height;
    max-height: $chart-item-content-height;
  }

  &-info {
    margin-left: $chart-item-content-height + 16px;
    padding-top: .3em;

    &__title {
      color: md-color($monocular-app-primary);
      margin: 0 0 .5em;
      cursor: pointer;
    }

    p {
      margin-top: 0;
    }

    // Remove this when chips are ready:
    // https://github.com/angular/material2/issues/120
    &__repo {
      color: white;
      padding: 2px 5px;
      border: 1px solid md-color($monocular-app-accent, 600);
      background-color: md-color($monocular-app-accent);
      border-radius: 5px;
      font-size: .8em;
      position: relative;
      top: -1px;

      &.repo-incubator {
        border-color: md-color($monocular-app-warn, 600);
        background-color: md-color($monocular-app-warn);
      }

      a {
        color: inherit;
      }
    }

    &__version {
      color: lighten($layout_text, 20%);
      margin-right: 5px;
      padding-right: 7px;
      border-right: 1px solid darken($layout_light, 10%);
    }
  }
}
