// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../../theme.scss';

.chart-details-usage {
  background-color: $layout_base;
  color: $layout_light;
  margin: 2em 0;
  padding: 2em;
  border-radius: 5px;

  label {
    color: md-color($monocular-app-primary);
    display: inline-block;
    margin-right: .5em;
    font-weight: bold;
  }

  code p:last-child {
    margin-bottom: 0;
  }
}
