// Import your custom theme
@import '../../theme.scss';

.charts-filters {
  text-align: center;

  .charts-filter {
    display: inline-block;
    margin-right: 2em;

    &__title {
      display: inline-block;
      color: mat-color($monocular-app-primary);
      margin-bottom: .5em;
      font-weight: bold;
      display: block;
    }

    &__select {
      display: inline-block;
      vertical-align: middle;
    }

    &:last-child {
      margin-right: 0;
    }

    @include mappy-bp(medium) {
      &__title {
        display: inline-block;
      }

      &__select {
        width: 235px;
        margin-left: 1em;
      }
    }
  }
}
