<app-panel class="app-panel--container">
  <section class="charts-filters">
    <div class="charts-filter">
      <label class="charts-filter__title">Repository</label>
      <span class="charts-filter__select">
        <ng2-select [options]="repositoryElements"
                    [displayBy]="'name'"
                    [selectedDisplayBy]="'name'"
                    [identifyBy]="'value'"
                    [(ngModel)]="repository_type"
                    (onChange)="onChangeFilter('repository_type', $event.value)">
        </ng2-select>
      </span>
    </div>
    <div class="charts-filter">
      <label class="charts-filter__title">Order by</label>
      <span class="charts-filter__select">
        <ng2-select [options]="orderElements"
                    [displayBy]="'name'"
                    [selectedDisplayBy]="'name'"
                    [identifyBy]="'value'"
                    [(ngModel)]="order_by"
                    (onChange)="onChangeFilter('order_by', $event.value)">
        </ng2-select>
      </span>
    </div>
  </section>
</app-panel>
