// Import your custom theme
@import '../../theme.scss';

.deployment_item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #EAEDEF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 1em;
  box-sizing: border-box;
  overflow: hidden;
  &_icon {
    height: 100%;
    width: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 60%;
      max-height: 100%;
    }
  }
  &_content {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__title {
      margin: 0;
      margin-bottom: 5px;
      font-size: 1.2em;
    }
    &__subtitle {
      font-size: 0.8em;
    }
    &__date {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 0.6em;
    }
  }
}
