<a class="deployment_item" href="/deployments/{{ deployment.id }}" routerLink="/deployments/{{ deployment.id }}"
  [style.background-color]="backgroundColor"
>
  <div class="deployment_item_icon">
    <img alt="{{ deployment.chartName }}'s logo" src="{{ getIconUrl() }}"/>
  </div>
  <div class="deployment_item_content">
    <h2 class="deployment_item_content__title">
      {{ deployment.id }}
    </h2>
    <div class="deployment_item_content__subtitle">
        {{ deployment.attributes.chartName }} v.{{ deployment.attributes.chartVersion }} <br/>
        Namespace: <b>{{ deployment.attributes.namespace }}</b><br/>
        Status: <b>{{ deployment.attributes.status }}</b>
    </div>
    <div class="deployment_item_content__date">
      {{ deployment.attributes.updated | date }}
    </div>
  </div>
</a>
