@import '../../../theme.scss';

.resource {
  margin-bottom: 1em;
  overflow: scroll;

  &__title {
    margin-bottom: .5em;
  }

  &__table {
    width: 100%;

    th {
      text-align: left;
      font-size: .8em;
      font-weight: normal;
      border-bottom: 1px solid $layout_base;
    }

    th,
    td {
      padding: .5em;
    }
  }
}
