// Import your custom theme
@import '../../theme.scss';

.chart-details {
  width: 100%;
  margin: 3em 0;
  padding: 0 2em;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  @include mappy-bp(medium) {
    flex-direction: row;
    flex-wrap: nowrap;

    &__info,
    &__docs {
      padding: 0 1em;
    }

    &__info {
      width: 35%;
    }

    &__docs {
      min-width: 0;
      flex: 3;
    }
  }
}
