// Import your custom theme
@import '../../theme.scss';

.chart-details {
  width: 100%;
  margin: 2em 0;
  padding: 0 2em;

  @include mappy-bp(medium) {
    display: flex;

    &__info,
    &__docs {
      padding: 0 1em;
    }

    &__info {
      flex: 1;
    }

    &__docs {
      min-width: 0;
      flex: 3;
    }
  }
}
