// Import your custom theme
@import '../../theme.scss';

.chart-details {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    margin-top: -80px;
    margin-bottom: 40px;
    &__background {
      width: 100%;
      height: 200px;
      background: md-color($monocular-app-primary);
    }
    &__content {
      padding: 0 1em;
      max-width: 1000px;
      margin: auto;
      margin-top: -75px;
      display: flex;
    }
    &__text {
      flex: 1;
      h1 {
        height: 70px;
        color: white;
        margin: 0;
        display: flex;
        align-items: flex-end;
      }
      p {
        line-height: 1.6em;
      }
      &__repo {
        color: md-color($monocular-app-accent);
        &.repo-incubator {
          color: md-color($monocular-app-warn, 600);
        }
        a {
          color: inherit;
        }
      }
    }
    &__icon {
      width: 150px;
      height: 150px;
      background: white;
      border: 2px solid md-color($monocular-app-primary);
      margin-right: 1em;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 70%;
        max-height: 70%;
      }
    }
  }
  &__content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 1em;
    padding-bottom: 1em;
  }
  @include mappy-bp(medium) {

    &__content {
      flex-direction: row;
      &__info {
        width: 35%;
        padding-left: 1em;
      }

      &__docs {
        padding-right: 1em;
        min-width: 0;
        flex: 3;
      }
    }
  }
  @include mappy-bp(max-width small) {
    &__header {
      &__content {
        flex-direction: column;
        h1 {
          color: inherit;
        }
      }
    }
  }
}
