@import '../../theme.scss';
.releases-list {
  .release {
    margin: 10px;
  }
  @include mappy-bp(medium) {
    display: flex;
    flex-flow: row wrap;
    .release {
      flex: 1;
      width: 700px;
    }
  }
}
