<app-header-bar></app-header-bar>
<app-loader [loading]="loading">
  <app-panel class="app-panel--container">
    <section class="deployments">
      <header class="deployments__header">
        <div class="deployments__header__block">
          <h1 class="deployments__header__title">Deployments</h1>
        </div>
        <div class="deployments__header__block deployments__header__new">
          <a routerLink="/charts" href="/charts" md-button md-raised-button color="accent">
            New deployment
          </a>
        </div>
      </header>
      <h1 *ngIf="!deployments.length">There are no deployments</h1>
      <a class="deployments__deployment" *ngFor="let deployment of deployments"
        href="/deployments/{{ deployment.id }}" routerLink="/deployments/{{ deployment.id }}">
        <md-card>
          <md-card-header>
            <md-icon md-card-avatar svgIcon="layers"></md-icon>
            <md-card-title>
              {{ deployment.id }}
              ({{ deployment.attributes.chartName }} v.{{ deployment.attributes.chartVersion }})
            </md-card-title>
            <md-card-subtitle>
                {{ deployment.attributes.status }} on namespace
                "{{ deployment.attributes.namespace }}"
                on {{ deployment.attributes.updated | date }}
            </md-card-subtitle>
          </md-card-header>
        </md-card>
      </a>
    </section>
  </app-panel>
</app-loader>
