<app-header-bar></app-header-bar>
<app-loader [loading]="loading">
  <app-panel class="app-panel--container">
    <section class="deployments">
      <header class="deployments__header">
        <div class="deployments__header__block">
          <h1 class="deployments__header__title">Deployments</h1>
        </div>
        <div class="deployments__header__block deployments__header__new">
          <a routerLink="/charts" href="/charts" md-button md-raised-button color="accent">
            New deployment
          </a>
        </div>
      </header>
      <div class="deployments__gallery">
        <div class="deployments__gallery__sidebar">
          <div class="sidebar_section" *ngFor="let menu of sidebarMenu">
              <h3 class="sidebar_section_title">{{ menu.title }}</h3>
              <div class="sidebar_section_link" *ngFor="let sub of menu.subs">
                {{ sub }}
              </div>
          </div>
        </div>
        <div class="deployments__gallery__content">
          <div class="deployments__gallery__content__topbar">
            <input type="text" placeholder="Search deployment..." />
          </div>
          <div class="deployments__gallery__content__list">
            <h3 *ngIf="!deployments.length">There are no deployments</h3>
            <app-deployment-item *ngFor="let deployment of deployments" [deployment]=deployment></app-deployment-item>
          </div>
        </div>
      </div>
    </section>
  </app-panel>
</app-loader>
