@import '../../theme.scss';

.deployments {
  &__header {
    width: 100%;

    &__title {
      margin-top: 0;
    }

    &__new {
      margin-bottom: 2em;
      text-align: center;
    }

    @include mappy-bp(small) {
      display: flex;

      &__block {
        flex: 1;
      }

      &__new {
        text-align: right;
        margin-bottom: 0;
      }
    }
  }

  &__deployment {
    md-card-title {
      color: mat-color($monocular-app-primary);
    }

    md-icon {
      color: darken($layout_light, 20%);
    }

    &:hover {
      md-card {
        background-color: $layout_light;
      }
    }
  }
}
