<app-header-bar></app-header-bar>
<section class="releases-index">
  <app-loader [loading]="loading">
    <app-panel title="Releases" class="app-panel--container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Chart name</th>
            <th>Chart version</th>
            <th>Namespace</th>
            <th>Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let release of releases">
            <td>{{release.id}}</td>
            <td>{{release.attributes.status}}</td>
            <td>{{release.attributes.chartName}}</td>
            <td>{{release.attributes.chartVersion}}</td>
            <td>{{release.attributes.namespace}}</td>
            <td>{{release.attributes.updated | date}}</td>
            <td>{{release.attributes.updated | date}}</td>
            <th><a><md-icon svgIcon="delete" (click)="deleteRelease(release.id)"></md-icon></a></th>
          </tr>
        </tbody>
      </table>
    </app-panel>
  </app-loader>
</section>
