// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

.footer-list {
  padding: 0 2em;
  margin-bottom: 2em;
  display: inline-block;

  &__title {
    color: md-color($monocular-app-primary);
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
  }

  &__list {
    display: inline-block;

    ul {
      list-style: none;
      margin: 0;

      li {
        padding: 0;
        margin-bottom: .5em;
      }
    }
  }
}
