// Import your custom theme
@import '../../theme.scss';

.deployment-details {
  width: 100%;
  margin: 3em 0;
  padding: 0 2em;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  &__breadcrumb {
    margin: 2em 2em 0;

    ul {
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        &:before {
          content: '/';
          color: darken($layout_light, 20%);
          padding: 0 .5em 0 .4em;
        }

        &:first-child:before {
          display: none;
        }
      }
    }
  }

  &__main {
    &__notes {
      margin: 2em 0;

      pre {
        padding: 1em;
        margin-bottom: 0;
        background-color: $layout_light;
        white-space: pre-wrap;       /* css-3 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-break: break-all;
      }
    }
  }

  &__title {
    font-size: 2em;
    padding-bottom: .3em;
    margin: 0 0 .5em;
    border-bottom: 1px solid $layout_light;
  }

  &__info {
    &__title {
      color: mat-color($monocular-app-primary);
      margin: 0 0 .5em;
      font-weight: 300;
    }

    &__list {
      md-icon {
        color: darken($layout_light, 20%);
      }
    }

    &__actions {
      display: block;
      margin: 2em 0;
    }
  }


  @include mappy-bp(medium) {
    flex-direction: row;
    flex-wrap: nowrap;

    &__info {
      padding-left: 1em;
    }

    &__main {
      padding-right: 1em;
    }

    &__info {
      width: 35%;
    }

    &__main {
      min-width: 0;
      flex: 3;

      &__notes {
        margin-bottom: 0;
      }
    }
  }
}
