# This is an example of config file.
# Copy it to `$HOME/monocular/config/monocular.yaml` in order to make the backend pick up the overrides.
repos:
  # Official repositories
  - name: stable
    url: http://storage.googleapis.com/kubernetes-charts
    source: https://github.com/kubernetes/charts/tree/master/stable
  - name: incubator
    url: http://storage.googleapis.com/kubernetes-charts-incubator
    source: https://github.com/kubernetes/charts/tree/master/incubator
  # Add your own repository
  #- name: my-repo-name
  #  url: my-repository-url
  #  source: my-repository-source

# Enables Helm deployment integration
# https://github.com/helm/monocular/blob/master/docs/configuration.md#enable-helm-releases-integration
releasesEnabled: true
# Enables port forwarding for tiller Connections
# Useful if you are running the app outside of the k8s cluster during development
tillerPortForward: true

# Configure cache refresh interval in sec
cacheRefreshInterval: 3600
