// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

// Variables
$header-bar-padding: 1.5em 2em;
$header-bar-logo-height: 35px;

.header-bar {
  padding: $header-bar-padding;

  &__logo {
    display: inline-block;

    img {
      height: $header-bar-logo-height;
    }
  }

  &__navigation {
    float: right;

    ul {
      margin: .5em 0;

      li {
        display: inline-block;

        a {
          padding: 1em;
          text-decoration: none;
          color: $layout_light;
          transition: color .3s ease-out;

          &:hover {
            color: lighten(md-color($monocular-app-primary), 10%);
          }

          &.active {
            color: md-color($monocular-app-primary);
          }
        }
      }
    }
  }
}
