<header [ngClass]="{ 'header-bar': true, 'header-bar--transparent': transparent }">
  <div class="header-bar__logo">
    <h1>
      <a href="/" routerLink="/" class="reverse">{{ appName }}</a>
    </h1>
  </div>
  <nav class="header-bar__navigation">
    <ul>
      <li>
        <a class="reverse" routerLink="/charts" routerLinkActive="active">
          Charts
        </a>
      </li>
      <li><a class="reverse" href="https://github.com/helm/monocular/blob/master/docs/about.md" target="_blank">About</a></li>
    </ul>
  </nav>
  <nav class="header-bar__open">
    <div (click)="openMenu()">
      <md-icon *ngIf="!openedMenu" svgIcon="menu"></md-icon>
      <md-icon *ngIf="openedMenu" svgIcon="close"></md-icon>
    </div>
  </nav>
  <div class="header-bar__search" *ngIf="showSearch">
    <form (ngSubmit)="searchCharts(searchBox)">
      <md-input class="md-input--reverse md-input--full"
        placeholder="Search..." #searchBox
        floatingPlaceholder="false"></md-input>
    </form>
  </div>
</header>
