// Imports
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import '../../theme.scss';

// Variables
$header-bar-padding: 1.5em 2em;

.header-bar {
  padding: $header-bar-padding;
  background-color: $layout_base;

  &--transparent {
    background-color: transparent;
  }

  &__logo {
    display: inline-block;

    h1 {
      // Adjust it vertically
      padding-top: .1em;
      font-size: 1.5em;
      margin: 0;
      font-family: 'Ubuntu', sans-serif;
    }
  }

  &__search {
    float: right;

    .md-input-wrapper {
      margin: .4em 0;
    }
  }

  &__navigation {
    float: right;

    ul {
      margin: .5em 0;

      li {
        display: inline-block;

        a {
          padding: 1em;
        }
      }
    }
  }
}
