<header [ngClass]="{ 'header-bar': true, 'header-bar--transparent': transparent }">
  <div class="header-bar__logo">
    <a routerLink="/"><img src="/assets/images/logo.png" alt="Monocular Logo"/></a>
  </div>
  <nav class="header-bar__navigation">
    <ul>
      <li>
        <a class="reverse" routerLink="/charts" routerLinkActive="active">
          Charts
        </a>
      </li>
      <li><a class="reverse" href="https://helm.sh/" target="_blank">About</a></li>
    </ul>
  </nav>
  <div class="header-bar__search" *ngIf="showSearch">
    <form (ngSubmit)="searchCharts(searchBox)">
      <md-input class="md-input--reverse md-input--full"
        placeholder="Search..." #searchBox
        floatingPlaceholder="false"></md-input>
    </form>
  </div>
</header>
