// Import your custom theme
@import '../../theme.scss';

// Variables
$header-bar-padding: 1.5em 2em;
$header-bar-padding-small: 1.5em;

.header-bar {
  padding: $header-bar-padding;
  background-color: $layout_base;

  &--transparent {
    background-color: transparent;
  }

  &__logo {
    display: inline-block;

    h1 {
      // Adjust it vertically
      padding-top: .1em;
      font-size: 1.5em;
      margin: 0;
      font-family: 'Ubuntu', sans-serif;
    }
  }

  &__search {
    margin-top: .5em;

    .mat-input-wrapper {
      margin: 0;
    }
  }

  &__navigation {
    float: right;
    margin-right: 2em;
    display: none;

    ul {
      margin: .5em 0;

      li {
        display: inline-block;

        a {
          padding: 1em;
        }
      }
    }
  }

  &__open {
    color: white;
    float: right;
    margin-right: 4em;

    svg {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  @include mappy-bp(max-width small) {
    padding: $header-bar-padding-small;
  }

  @include mappy-bp(small) {
    &__search {
      margin-top: 0;
      float: right;
    }

    &__open {
      display: none;
    }

    &__navigation {
      display: block;
    }
  }
}
