// Import your custom theme
@import '../../theme.scss';

.chart-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1em;

  app-chart-item {
    display: block;
    width: 100%;
    margin-bottom: 1em;

    @include mappy-bp(small) {
      width: 100%;
    }
    @include mappy-bp(medium) {
      width: 46%;
    }
    @include mappy-bp(large) {
      width: 31%;
    }
  }


}
